{% extends 'base.html.twig' %}

{% block title %}New Ticket{% endblock %}

{% block body %}
    <h1>Créer un nouveau Ticket</h1>
    
    <hr>

    {{ include('ticket/_form.html.twig') }}

    <a href="{{ path('ticket_index') }}"><button class="btn btn-default btn-back">Retrouner à la liste</button></a>
{% endblock %}