/*base*/
body{background: #ebeff2;}
.bck1{background: #fff;}

body a:hover{
	text-decoration: none;
	font-weight: bold;
	color: rgb(0, 178, 17)!important;
}

/* th {
	color: rgb(0, 178, 17);
} */

h3 {
	color: rgb(0, 153, 14);
}

body a{
	text-decoration: none;
	color: rgb(0, 178, 17)!important;
}

/*generique*/
.padded{padding: 15px;}

/*header*/
header#header {margin-bottom: 20px;padding: 10px;}
header#header h1 {text-align: center;color: #5cb85c;}

/*footer*/
footer#footer{
	/* margin-top: 20px;
	padding: 10px; */
	/* position: absolute;
	bottom: 0; */
	display: none;
}

.main{
	height : 100%;
	padding-bottom: 3%;
}


.btn-save {
	float: right;
}

.btn-connect {
	bottom: 0;
	margin-top: 30px;
}
/* .btn-back {} */

tbody tr:hover {
	background-color: #ebeff2;
}